<!-- 头部 -->
<div class="header header2">
    <%- partial('menu') %>
    <!-- 头部内容 -->
    <div class="container">
        <div class="head-box2">
            <div class="head-left2">
                <img src="https://image-static.segmentfault.com/492/642/492642807-620df21e06242" alt=""
                    class="head-title2">
                <div class="slogon2">
                    中国开源码力榜，由 SegmentFault 思否、开源社、腾源会、X-lab 实验室等核心成员发起， 旨在完全通过 GitHub 开发者协作影响力进行排名、评选。
                </div>
            </div>
            <img src="https://image-static.segmentfault.com/348/520/3485204074-620e0096cea76" alt=""
                class="head-right2">
        </div>
    </div>
</div>
<!-- 詳情 -->
<div class="container detail2">
    <%- partial('avatar', {item: item}) %>
    <div class="detail-right2">
        <div class="nick2"><%- item.title %></div>
        <div class="desc"><%- item.description %></div>
        <div>
            <%- item.content %>
        </div>
    </div>
</div>
