<!-- 头部 -->
<div class="header header-detail">
    <%- partial('menu') %>
    <!-- 头部内容 -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <%- image_tag('img/banner-detail.png', {class: 'home-head', alt: 'logo'}) %>
                
            </div>
        </div>
    </div>
</div>
<!-- 詳情 -->
<div class="container pt-5 detail-content">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <div class="d-flex flex-column flex-md-row  justify-content-between">
                <div class="d-flex">
                    <%- partial('avatar', { className: 'detail-avatar me-4', item: item}) %>
                    <div class="pt-3">
                        <div class="detail-nick"><%- item.name ? item.name : item.slug %></div>
                        <div class="text-secondary mt-2"><%- item.description %></div>
                    </div>  
                </div>
                <%- image_tag('img/logo-award.png', {class: 'mt-3 mt-sm-0 d-none d-lg-block', alt: 'logo', width: 180, height: 218}) %>

            </div>

            <div class="contribute mt-4 mt-sm-0">
                <%- item.content %>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/copyRight') %>
