<!-- 头部 -->
<div class="header header2">
    <%- partial('menu') %>
    <!-- 头部内容 -->
    <div class="container">
        <div class="head-box2">
            <div class="head-left2">
                <%- image_tag('img/logo-title.png', {class: 'head-title2', alt: 'logo'}) %>
                <div class="slogan">
                    寻找中国的超级码力
                </div>
            </div>
            <%- image_tag('img/logo-award.png', {class: 'head-right2', alt: 'award'}) %>
        </div>
    </div>
</div>
<!-- 詳情 -->
<div class="container detail2">
    <%- partial('avatar', {item: item}) %>
    <div class="detail-right2">
        <div class="nick2"><%- item.title %></div>
        <div class="desc"><%- item.description %></div>
        <div>
            <%- item.content %>
        </div>
    </div>
</div>
