<!-- 头部 -->
<div class="header" id="head">
  <%- partial('_partial/menu') %>
  <!-- 头部内容 -->
  <div class="container">
      <%- image_tag('img/banner-index-ranking.png', {class: 'home-head', alt: '中国开源码力榜', loading: 'lazy'}) %>
  </div>
</div>

<div class="container">
  <%- partial('_partial/split') %> 

  <div class="list" id="detail">
      <div class="main-title">榜单详情-<%-  item.data_year %></div>
      <%
          const rankingArr = site.data.rankingList?.find((a)=> a.year == item.data_year) || [];
          const userMap = new Map();
          for (let rankingItem of site.pages.data) {
              if (rankingItem.slug) {
                userMap.set(rankingItem.slug.toString(), rankingItem);
              } 
          }
      %>
      <li id="<%= item.data_year %>" style="list-style: none;">
        <div class="row mt-4">
            <% for (let user of rankingArr.annualRanking) { %>
                <% const userInfo = userMap.get(user.login.toString()) %>
                <%- partial('_partial/card', {item: {slug: user.login, ...userInfo, ranking: user.ranking}}) %>
            <% } %>
        </div>
      </li>


       <div>

       </div>

  </div>
  
  <%- partial('_partial/split') %>
  <div class="list" id="partner">
    <div class="main-title">合作伙伴</div>

    <div class="subtitle mt-4">联合发起方</div>
    <div class="icons-wrap">
        <%- image_tag('img/logo-sf.png', {class: 'icons mb-3', alt: '思否', loading: 'lazy'}) %>
        <%- image_tag('img/logo-kys.png', {class: 'icons mb-3', alt: '开源社', loading: 'lazy'}) %>
        <%- image_tag('img/logo-tyh.png', {class: 'icons mb-3', alt: '腾源会', loading: 'lazy'}) %>
        <%- image_tag('img/logo-xlab.png', {class: 'icons mb-3', alt: 'x-lab', loading: 'lazy'}) %>
    </div>

    <div class="subtitle mt-4">官方支持</div>
      <div class="icons-wrap">
          <a href="https://github.com" title="GitHub" target="_blank"><%- image_tag('img/logo-github.png', {class: 'icons mb-3', alt: 'GitHub', loading: 'lazy'}) %></a>
      </div>

      <div class="subtitle mt-4">合作社区</div>
      <div class="icons-wrap">
          <%- image_tag('img/logo-kyuubi.png', {class: 'icons2 m-2', alt: 'Kyuubi', loading: 'lazy'}) %>
          <%- image_tag('img/logo-gitops.png', {class: 'icons2 m-2', alt: 'GITOPS', loading: 'lazy'}) %>
          <%- image_tag('img/logo-dolphin.png', {class: 'icons2 m-2', alt: 'Dolphin', loading: 'lazy'}) %>
          <%- image_tag('img/logo-linkis.png', {class: 'icons2 m-2', alt: 'Linki', loading: 'lazy'}) %>
          <%- image_tag('img/logo-magichub.png', {class: 'icons2 m-2', alt: 'MagicHub', loading: 'lazy'}) %>
          <%- image_tag('img/logo-galaxyfuture.png', {class: 'icons2 m-2', alt: 'Galaxy-Future', loading: 'lazy'}) %>
          <%- image_tag('img/logo-doris.png', {class: 'icons2 m-2', alt: 'DORIS', loading: 'lazy'}) %>
          <%- image_tag('img/logo-seatunnel.png', {class: 'icons2 m-2', alt: 'SeaTunnel', loading: 'lazy'}) %>
          <%- image_tag('img/logo-serverless.png', {class: 'icons2 m-2', alt: 'ServerLess Dev', loading: 'lazy'}) %>
          <%- image_tag('img/logo-casbin.png', {class: 'icons2 m-2', alt: 'Casbin', loading: 'lazy'}) %>
          <%- image_tag('img/logo-kubesphere.png', {class: 'icons2 m-2', alt: 'kubesphere', loading: 'lazy'}) %>
          <%- image_tag('img/logo-coding.png', {class: 'icons2 m-2', alt: 'coding', loading: 'lazy'}) %>
          <%- image_tag('img/logo-apacheshenyu.png', {class: 'icons2 m-2', alt: 'pacheshenyu', loading: 'lazy'}) %>
          <%- image_tag('img/logo-dromara.png', {class: 'icons2 m-2', alt: 'dromara', loading: 'lazy'}) %>
          <%- image_tag('img/logo-graphscope.png', {class: 'icons2 m-2', alt: 'graphscope', loading: 'lazy'}) %>
          <%- image_tag('img/logo-graviti.png', {class: 'icons2 m-2', alt: 'graviti', loading: 'lazy'}) %>
          <%- image_tag('img/logo-openppl.png', {class: 'icons2 m-2', alt: 'openppl', loading: 'lazy'}) %>
          <%- image_tag('img/logo-apisix.png', {class: 'icons2 m-2', alt: 'apisix', loading: 'lazy'}) %>
          <a href="https://wechaty.js.org" title="Conversational RPA SDK for WhatsApp/WeChat" target="_blank"><%- image_tag('img/logo-wechaty.png', {class: 'icons2 m-2', alt: 'wechaty', loading: 'lazy'}) %></a>
          <%- image_tag('img/logo-eventmesh.png', {class: 'icons2 m-2', alt: 'eventmesh', loading: 'lazy'}) %>
          <%- image_tag('img/logo-azure.png', {class: 'icons2 m-2', alt: 'azure', loading: 'lazy'}) %>
          <%- image_tag('img/logo-apachshenzhen.png', {class: 'icons2 m-2', alt: 'apachshenzhen', loading: 'lazy'}) %>
          <%- image_tag('img/logo-deepin.png', {class: 'icons2 m-2', alt: 'deepin', loading: 'lazy'}) %>
          <%- image_tag('img/logo-ybsq.png', {class: 'icons2 m-2', alt: 'ybsq', loading: 'lazy'}) %>
          <%- image_tag('img/logo-opentekr.png', {class: 'icons2 m-2', alt: 'opentekr', loading: 'lazy'}) %>
          <%- image_tag('img/logo-skywalking.png', {class: 'icons2 m-2', alt: 'skywalking', loading: 'lazy'}) %>
          <%- image_tag('img/logo-sharedingsphere.png', {class: 'icons2 m-2', alt: 'sharedingsphere', loading: 'lazy'}) %>
          <%- image_tag('img/logo-wasmedgeruntim.png', {class: 'icons2 m-2', alt: 'wasmedgeruntim', loading: 'lazy'}) %>
          <%- image_tag('img/logo-shishuo.png', {class: 'icons2 m-2', alt: 'shishuo', loading: 'lazy'}) %>
          <%- image_tag('img/logo-apacheinlong.png', {class: 'icons2 m-2', alt: 'apacheinlong', loading: 'lazy'}) %>
      </div>
    </div>  
  </div>

</div>

  <%- partial('_partial/copyRight') %>
</div>