<!-- 头部 -->
<div class="header" id="head">
    <%- partial('_partial/menu') %>
    <!-- 头部内容 -->
    <div class="container">
        <%- image_tag('img/banner-index.png', {class: 'home-head', alt: '中国开源码力榜', loading: 'lazy'}) %>
    </div>
</div>

<div class="container">
    <div class="list" id="ranking">
        <div class="main-title">中国开源码力榜</div>

        <div class="mt-4">
            <%- partial('_partial/slogan') %>
        </div>

    </div>

    <%- partial('_partial/split') %>

    <div class="list" id="standard">
        <div class="main-title">评选标准</div>

        <div class="text text2">
            <div class="row justify-content-center mt-4">
               <ol class="col-12 col-md-8">
                    <li>开发者影响力基于 GitHub 全域开发者活跃数据计算得到。</li>
                    <li>影响力计算使用了开发者与项目之间的活动关联与图算法计算获得。</li>
                    <li>计算影响力的基本主张为：更有影响力的开发者在 GitHub 上更加活跃、更有影响力的开发者更倾向于参与到更有影响力的项目中、更有影响力的项目会吸引到更多更有影响力的开发者参与。</li>
                    <li>第一阶段开源码力榜收录来自中国的协作影响力排名 Top 99 位的开发者，开发者归属地主要依据其 GitHub 上公开的地理位置信息及志愿者手工标注辨别，如有错漏欢迎通过提 <a href="https://github.com/OpenSourceWin/hacking-force/issues/new" target="_blank">issue</a> 反馈。</li>
               </ol>
            </div>
         </div>
    </div>

    <%- partial('_partial/split') %>

    <div class="list" id="detail">
        <div class="main-title">榜单详情</div>

        <ol class="list-unstyled mt-4">
            <%
                const rankingArr = site.data.rankingList?.sort((a,b)=>b.year - a.year).map(({year, annualRanking}) => ({year, annualRanking: annualRanking.sort((a, b) => a.ranking - b.ranking)})) || [];
                const userMap = new Map();
                for(let rankingItem of site.pages.data) {
                    userMap.set(rankingItem.slug.toString(), rankingItem)
                }
            %>
            <% for(let {year, annualRanking} of rankingArr) { %>
                <li id="<%= year %>">
                    <h3 class="text-center h2"> -<%= year %>- </h3>
                    <div class="row mt-4">
                        <% for (let user of annualRanking) { %>
                            <% const userInfo = userMap.get(user.login.toString()) %>
                            <%- partial('_partial/card', {item: {slug: user.login, ...userInfo, ranking: user.ranking}}) %>
                        <% } %>
                    </div>
                </li>
            <% } %>
        </ol>
    </div>

    <%- partial('_partial/split') %>

    <div class="list" id="partner">
        <div class="main-title">合作伙伴</div>

        <div class="subtitle mt-4">联合发起方</div>
        <div class="icons-wrap">
            <%- image_tag('img/logo-sf.png', {class: 'icons mb-3', alt: '思否', loading: 'lazy'}) %>
            <%- image_tag('img/logo-kys.png', {class: 'icons mb-3', alt: '开源社', loading: 'lazy'}) %>
            <%- image_tag('img/logo-tyh.png', {class: 'icons mb-3', alt: '腾源会', loading: 'lazy'}) %>
            <%- image_tag('img/logo-xlab.png', {class: 'icons mb-3', alt: 'x-lab', loading: 'lazy'}) %>
        </div>

        <div class="subtitle mt-4">官方支持</div>
        <div class="icons-wrap">
            <a href="https://github.com" title="GitHub" target="_blank"><%- image_tag('img/logo-github.png', {class: 'icons mb-3', alt: 'GitHub', loading: 'lazy'}) %></a>
        </div>

        <div class="subtitle mt-4">合作社区</div>
        <div class="icons-wrap">
            <%- image_tag('img/logo-kyuubi.png', {class: 'icons2 m-2', alt: 'Kyuubi', loading: 'lazy'}) %>
            <%- image_tag('img/logo-gitops.png', {class: 'icons2 m-2', alt: 'GITOPS', loading: 'lazy'}) %>
            <%- image_tag('img/logo-dolphin.png', {class: 'icons2 m-2', alt: 'Dolphin', loading: 'lazy'}) %>
            <%- image_tag('img/logo-linkis.png', {class: 'icons2 m-2', alt: 'Linki', loading: 'lazy'}) %>
            <%- image_tag('img/logo-magichub.png', {class: 'icons2 m-2', alt: 'MagicHub', loading: 'lazy'}) %>
            <%- image_tag('img/logo-galaxyfuture.png', {class: 'icons2 m-2', alt: 'Galaxy-Future', loading: 'lazy'}) %>
            <%- image_tag('img/logo-doris.png', {class: 'icons2 m-2', alt: 'DORIS', loading: 'lazy'}) %>
            <%- image_tag('img/logo-seatunnel.png', {class: 'icons2 m-2', alt: 'SeaTunnel', loading: 'lazy'}) %>
            <%- image_tag('img/logo-serverless.png', {class: 'icons2 m-2', alt: 'ServerLess Dev', loading: 'lazy'}) %>
            <%- image_tag('img/logo-casbin.png', {class: 'icons2 m-2', alt: 'Casbin', loading: 'lazy'}) %>
            <%- image_tag('img/logo-kubesphere.png', {class: 'icons2 m-2', alt: 'kubesphere', loading: 'lazy'}) %>
            <%- image_tag('img/logo-coding.png', {class: 'icons2 m-2', alt: 'coding', loading: 'lazy'}) %>
            <%- image_tag('img/logo-apacheshenyu.png', {class: 'icons2 m-2', alt: 'pacheshenyu', loading: 'lazy'}) %>
            <%- image_tag('img/logo-dromara.png', {class: 'icons2 m-2', alt: 'dromara', loading: 'lazy'}) %>
            <%- image_tag('img/logo-graphscope.png', {class: 'icons2 m-2', alt: 'graphscope', loading: 'lazy'}) %>
            <%- image_tag('img/logo-graviti.png', {class: 'icons2 m-2', alt: 'graviti', loading: 'lazy'}) %>
            <%- image_tag('img/logo-openppl.png', {class: 'icons2 m-2', alt: 'openppl', loading: 'lazy'}) %>
            <%- image_tag('img/logo-apisix.png', {class: 'icons2 m-2', alt: 'apisix', loading: 'lazy'}) %>
            <a href="https://wechaty.js.org" title="Conversational RPA SDK for WhatsApp/WeChat" target="_blank"><%- image_tag('img/logo-wechaty.png', {class: 'icons2 m-2', alt: 'wechaty', loading: 'lazy'}) %></a>
            <%- image_tag('img/logo-eventmesh.png', {class: 'icons2 m-2', alt: 'eventmesh', loading: 'lazy'}) %>
            <%- image_tag('img/logo-azure.png', {class: 'icons2 m-2', alt: 'azure', loading: 'lazy'}) %>
            <%- image_tag('img/logo-apachshenzhen.png', {class: 'icons2 m-2', alt: 'apachshenzhen', loading: 'lazy'}) %>
            <%- image_tag('img/logo-deepin.png', {class: 'icons2 m-2', alt: 'deepin', loading: 'lazy'}) %>
            <%- image_tag('img/logo-ybsq.png', {class: 'icons2 m-2', alt: 'ybsq', loading: 'lazy'}) %>
            <%- image_tag('img/logo-opentekr.png', {class: 'icons2 m-2', alt: 'opentekr', loading: 'lazy'}) %>
            <%- image_tag('img/logo-skywalking.png', {class: 'icons2 m-2', alt: 'skywalking', loading: 'lazy'}) %>
            <%- image_tag('img/logo-sharedingsphere.png', {class: 'icons2 m-2', alt: 'sharedingsphere', loading: 'lazy'}) %>
            <%- image_tag('img/logo-wasmedgeruntim.png', {class: 'icons2 m-2', alt: 'wasmedgeruntim', loading: 'lazy'}) %>
            <%- image_tag('img/logo-shishuo.png', {class: 'icons2 m-2', alt: 'shishuo', loading: 'lazy'}) %>
            <%- image_tag('img/logo-apacheinlong.png', {class: 'icons2 m-2', alt: 'apacheinlong', loading: 'lazy'}) %>
        </div>
      </div> 
    </div>

    <%- partial('_partial/copyRight') %>
</div>
