<!-- 头部 -->
<div class="header" id="head">
    <%- partial('_partial/menu') %>
    <!-- 头部内容 -->
    <div class="container">
        <%- image_tag('img/banner-index-new.png', {class: 'home-head', alt: '中国开源码力榜', loading: 'lazy'}) %>
    </div>
</div>

<div class="container">
    <div class="list" id="ranking">
        <div class="main-title">中国开源码力榜</div>

        <div class="mt-4">
            <%- partial('_partial/slogan') %>
        </div>

    </div>

    <%- partial('_partial/split') %>

    <div class="list" id="standard">
        <div class="main-title">评选标准</div>

        <div class="text text2">
            <div class="row justify-content-center mt-4">
               <ol class="col-12 col-md-8">
                    <li>中国开发者的辨别主要依据 OpenDigger 项目中持续收录的开发者地理位置标签，初始标签依据其 GitHub 上公开的信息由志愿者手工标注辨别，如有错漏，欢迎通过提 <a href="https://github.com/X-lab2017/open-digger/issues" target="_blank">issue</a> 贡献标签。</li>
                    <li>开发者的影响力基于 GitHub 全域开发者在当年的协作关系数据计算得到，是一种基于图的全域影响力计算方法。关于算法的详细介绍可以参考 <a href="https://dl.acm.org/doi/10.1145/3639477.3639734" target="_blank">ICSE 2024 收录论文</a>。</li>
                    <li>开发者影响力计算的基本主张为：更有影响力的开发者在 GitHub 上更加活跃、更有影响力的开发者更倾向于参与到更有影响力的项目中、更有影响力的项目会吸引到更多更有影响力的开发者参与。</li>
               </ol>
            </div>
         </div>
    </div>

    <%- partial('_partial/split') %>

    <div class="list" id="detail">
        <div class="main-title">榜单详情</div>

        <ol class="list-unstyled mt-4">
            <%
                const rankingArr = site.data.rankingList?.sort((a,b)=>b.year - a.year).map(({year, update, annualRanking}) => ({year, update: update || 0,
                    annualRanking: annualRanking.sort((a, b) => a.ranking - b.ranking)}))[0] || [];
                const userMap = new Map();
                for(let rankingItem of site.pages.data) {
                    if (rankingItem.slug) {
                        userMap.set(rankingItem.slug.toString(), rankingItem)
                    } 
                }
            %>

            <li id="<%= rankingArr.year %>">
                <p class="text-center text-secondary">最近更新于 <%- rankingArr.update %></p>
                <div class="row mt-4">
                    <% for (let user of rankingArr.annualRanking) { %>
                        <% const userInfo = userMap.get(user.login.toString()) %>
                        <%- partial('_partial/card', {item: {slug: user.login, ...userInfo, ranking: user.ranking}}) %>
                    <% } %>
                </div>
            </li>
        </ol>
    </div>

    <%- partial('_partial/split') %>

    <div class="list" id="partner">
        <div class="main-title">合作伙伴</div>

        <div class="subtitle mt-4">联合发起方</div>
        <div class="icons-wrap">
            <%- image_tag('img/logo-sf.png', {class: 'icons mb-3', alt: '思否', loading: 'lazy'}) %>
            <%- image_tag('img/logo-kys.png', {class: 'icons mb-3', alt: '开源社', loading: 'lazy'}) %>
            <%- image_tag('img/logo-xlab.png', {class: 'icons mb-3', alt: 'x-lab', loading: 'lazy'}) %>
        </div>
    </div>

    <%- partial('_partial/copyRight') %>
</div>
